<a href="https://colab.research.google.com/github/kimjs2513/TensorFlow/blob/master/001_%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%ED%8A%B8_%ED%8C%90%EB%A7%A4_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import tensorflow as tf #텐서플로우 라이브러리 불러오기
import pandas as pd #판다스 불러오기

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv") #데이터 준비
df

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [28]:
x = df[["온도"]] #독립변수
y = df[['판매량']] #종속변수

In [31]:
#모델생성
X = tf.keras.layers.Input(shape=[1]) #독립변수의 개수:1
Y = tf.keras.layers.Dense(1)(X) #종속변수
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

In [36]:
#모델을 학습
model.fit(x, y, epochs=10000, verbose = 0) #verbose = 0 화면 출력을 하지 않음

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 2.8768e-04
Epoch 2/10
1/1 [==============================] - 0s 1ms/step - loss: 2.8758e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 2.8753e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 2.8737e-04
Epoch 5/10
1/1 [==============================] - 0s 4ms/step - loss: 2.8715e-04
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 2.8697e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 2.8681e-04
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 2.8675e-04
Epoch 9/10
1/1 [==============================] - 0s 6ms/step - loss: 2.8671e-04
Epoch 10/10
1/1 [==============================] - 0s 1ms/step - loss: 2.8663e-04

In [38]:
#모델 이용
model.predict(x)

array([[40.029125],
       [42.02253 ],
       [44.015934],
       [46.00934 ],
       [48.002743],
       [49.996143]], dtype=float32)

In [40]:
model.predict([[15]])

array([[30.062107]], dtype=float32)